<div class='product__info-wrapper {% if template contains 'new-superfood-greens' %}product-greens{% endif %}' id='ProductInfoWrapper-{{ product.id }}-{{ sectionId }}'>
  <div class='product__info'>
    {%- liquid
      for block in section.blocks
        case block.type
          when '@app'
            render 'product-app-block', product: product, section: section, block: block, sectionId: sectionId
          when 'vendor'
            render 'product-vendor-block', product: product, section: section, block: block, sectionId: sectionId
          when 'title'
            render 'product-title-block', product: product, section: section, block: block, sectionId: sectionId
          when 'sku'
            render 'product-sku-block', product: product, section: section, block: block, sectionId: sectionId
          when 'divider'
            render 'product-divider-block', product: product, section: section, block: block, sectionId: sectionId
          when 'inventory_status'
            render 'product-stock-block', product: product, section: section, block: block, sectionId: sectionId
          when 'price'
            unless template contains 'new-greens-strawberry' or template contains '3-pack-superfood'
              render 'product-price-block', product: product, section: section, block: block, sectionId: sectionId
            endunless
          when 'description'
            render 'product-description-block', product: product, section: section, block: block, sectionId: sectionId
          when 'subscription_widget'
            unless product.handle contains "vitahustle-one-superfood-protein-single-serve-sampler" or product.handle contains 'shaker-bottle-stainless-20oz' or product.handle contains 'vitahustle-chill-gummies' or product.handle contains 'electrolyte-hydration-drink-immunity-orange' and template contains '3-pack-superfood'
              render 'custom-subcription-widget', product: product, section: section, block: block, sectionId: sectionId
            endunless
          when 'custom_liquid'
            render 'product-liquid-block', product: product, section: section, block: block, sectionId: sectionId
          when 'collapsible_row'
            if block.settings.title contains "Supplement Facts" or block.settings.title contains "SUPPLEMENT FACTS"
              render 'product-content-tab-block-new', product: product, section: section, block: block, sectionId: sectionId
            else
              render 'product-content-tab-block', product: product, section: section, block: block, sectionId: sectionId
            endif
          when 'quantity_selector'
            render 'product-quantity-block', product: product, section: section, block: block, sectionId: sectionId
          when 'information_tag'
            render 'product-information-tag-block', product: product, section: section, block: block, sectionId: sectionId
          when 'product_drawer_with_tabs'
            render 'product-drawer-with-tabs', product: product, section: section, block: block, sectionId: sectionId
          when 'share'
            render 'product-share-block', product: product, section: section, block: block, sectionId: sectionId
          when 'variant_picker'
            render 'product-variant-picker-block', product: product, section: section, block: block, sectionId: sectionId
          when 'buy_buttons'
            if template contains 'new-greens-strawberry' and product.handle=="one-superfood-protein-shake-strawberry"
              render 'product-new-form-block', product: product, section: section, block: block, sectionId: sectionId
            elsif product.handle contains "vitahustle-one-superfood-protein-single-serve-sampler" or product.handle contains 'shaker-bottle-stainless-20oz' or product.handle contains 'vitahustle-chill-gummies' or product.handle contains 'electrolyte-hydration-drink-immunity-orange' and template contains '3-pack-superfood'
              render 'single-serving-subscription', product: product, section: section, block: block, sectionId: sectionId
              render 'product-form-block', product: product, section: section, block: block, sectionId: sectionId
            else 
              render 'product-form-block', product: product, section: section, block: block, sectionId: sectionId
            endif
          when 'subscribtion_manage'
            if product.handle contains "vitahustle-one-superfood-protein-single-serve-sampler" or product.handle contains 'shaker-bottle-stainless-20oz' or product.handle contains 'vitahustle-chill-gummies' or product.handle contains 'electrolyte-hydration-drink-immunity-orange' and template contains '3-pack-superfood'
              render 'subscription_manage', product: product, section: section, block: block, sectionId: sectionId
            endif
          when 'button'
            render 'product-button-block', product: product, section: section, block: block, sectionId: sectionId
          when 'complementary_products'
            render 'product-related-products-block', product: product, section: section, block: block, sectionId: sectionId, is_complementary: true
          when 'related_products'
            render 'product-related-products-block', product: product, section: section, block: block, sectionId: sectionId
        endcase
      endfor
    -%}
  </div>
  
 
<style>
.hiddenprop65 {
display : none;
}
.prop65-warning-text{
font-size: 1.2rem;
}
.prop65-warning:hover{
cursor: pointer;
}
.webpanda-warning-container.label-warning-container {
padding:0;
margin-bottom:0;
margin-top: 20px;
}
.webpanda-warning-container .col {
padding: 0;
}
.webpanda-warning-container.label-warning-container .col {
padding: 0;
}
</style>
  
<script>
function showhide() {
  var div = document.getElementById("prop65text");
  div.classList.toggle('hiddenprop65'); 
}
</script>

  <div class="prop65-warning" id="button" onclick="showhide()">
    
    <div class='prop65'> </div>
    <div id="prop65text" class="hiddenprop65">
        <span class="prop65-warning-text">WARNING: This product can expose you to chemicals which are known to the State of California to cause cancer, birth defects or other reproductive harm. For more information, go to: www.P65Warnings.ca.gov</span>
    </div>
  </div>
  
  <div id="prop65-new" class="prop65-new"> </div>
  
</div>
