<quiz-modal class="quiz__modal">
    <div class="quiz__modal--overlay"></div>
    <div class="quiz-wrapper">
        <div class="quiz--init">
            <h3>Welcome to <br>VITAHUSTLE </h3>
            <p>Get Started</p>
            <button class="btn btn--started">Unlock Exclusive Offer</button>
        </div>
    </div>
    <div class="quiz_started">
        <div class="quiz__header">
            <button class="btn--skip" data-active-step="1">Skip</button>
            <div class="stepofactive">Step <span class="activestep">1</span> Of 4</div>
            <div class="stepClose">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 7.5L15 15L22.5 7.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.5 21.75L15 15L22.5 21.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        {% assign percentage = 0 %}
        {% assign saving = 4 | minus: 1 | times: 100 | divided_by: 4 | round %}
        {% assign percentage = 100 | minus: saving | at_least: percentage %}

        <div class="progressBar"><span class="" style="width: {{ percentage }}%;"></span></div>
        <div class="quiz__steps">
            
            <div class="step quiz_step__1 active" data-step="1">
                <h3 class="step__heading">What is your main goal?</h3>
                <p class="step_subheading">choose all that apply</p>
                <div class="stepData">
                    <div class="item">
                        <input type="checkbox" class="step_1_input step_input" name="main_goal" value="More Energy" id="step_1_more_energy">
                        <label for="step_1_more_energy">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>More Energy</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/more_energy.png?v=1698730008" class="" alt="More energy">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_1_input step_input"  name="main_goal" value="Loose Weight" id="step_1_loose_weight">
                        <label for="step_1_loose_weight">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Loose Weight</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/loose_weight.png?v=1698732441" class="" alt="Loose Weight">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_1_input step_input"  name="main_goal" value="Improved Fitness level" id="step_1_impoved_fitness">
                        <label for="step_1_impoved_fitness">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Improved Fitness level</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/improved_fitness.png?v=1698732440" class="" alt="Improved Fitness level">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_1_input step_input"  name="main_goal" value="Improved Overall Health" id="step_1_impoved_health">
                        <label for="step_1_impoved_health">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Improved Overall Health</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/improved_health.png?v=1698732441" class="" alt="Improved Overall Health">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_1_input step_input"  name="main_goal" value="Other" id="step_1_other">
                        <label for="step_1_other">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Other</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/other.png?v=1698732441" class="" alt="Other">
                        </label>
                    </div>
                </div>                
            </div>
            <div class="step quiz_step__2" data-step="2">
                <h3 class="step__heading">On an average day, you eat <br> fruits and vegetables…</h3>
                <p class="step_subheading">Choose any one</p>
                <div class="stepData">
                    <div class="item">
                        <input type="radio" class="step_2_input step_input" name="average_day" value="Almost never (0-1 times/day)" id="step_2_almost_never">
                        <label for="step_2_almost_never">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="8.39" fill="#C7E813"/>
                                    <path d="M5.09033 9.29904L7.32767 11.6022L12.082 6.70801" stroke="#212121" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Almost never (0-1 times/day)</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/apple.png?v=1698747607" class="" alt="More energy">
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" class="step_2_input step_input" name="average_day" value="Fair Amount(2-3 times/day)" id="step_2_fair_amount">
                        <label for="step_2_fair_amount">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="8.39" fill="#C7E813"/>
                                    <path d="M5.09033 9.29904L7.32767 11.6022L12.082 6.70801" stroke="#212121" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Fair Amount (2-3 times/day)</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/fairAmount.png?v=1698747607" class="" alt="Fair Amount (2-3 times/day)">
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" class="step_2_input step_input" name="average_day"  value="Healthy Amount (3+ times/day)" id="step_1_healthy_amount">
                        <label for="step_1_healthy_amount">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="8.39" fill="#C7E813"/>
                                    <path d="M5.09033 9.29904L7.32767 11.6022L12.082 6.70801" stroke="#212121" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Healthy Amount (3+ times/day)</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/healthyAmount.png?v=1698747607" class="" alt="Healthy Amount (3+ times/day)">
                        </label>
                    </div>
                </div> 
            </div>
            <div class="step quiz_step__3" data-step="3">
                <h3 class="step__heading">What type of exercise do you do?</h3>
                <p class="step_subheading">choose all that apply</p>
                <div class="stepData">
                    <div class="item">
                        <input type="checkbox" class="step_3_input step_input" name="exercise" value="Running" id="step_3_running">
                        <label for="step_3_running">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Running</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/running.png?v=1698748906" class="" alt="Running">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_3_input step_input"  name="exercise" value="Walking" id="step_3_walking">
                        <label for="step_3_walking">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Walking</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/walking.png?v=1698748907" class="" alt="Walking">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_3_input step_input"  name="exercise" value="Cycling" id="step_3_cycling">
                        <label for="step_3_cycling">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Cycling</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/cycling.png?v=1698748907" class="" alt="Cycling">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_3_input step_input"  name="exercise" value="Weight Lifting" id="step_3_weight_lifting">
                        <label for="step_3_weight_lifting">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Weight Lifting</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/weight_lifting.png?v=1698748906" class="" alt="Weight Lifting">
                        </label>
                    </div>
                    <div class="item">
                        <input type="checkbox" class="step_3_input step_input"  name="exercise" value="Other" id="step_3_other">
                        <label for="step_3_other">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="3.5" stroke="black"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="2.5" stroke="black"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="3" fill="#C7E813"/>
                                    <path d="M5.08984 9.29904L7.32718 11.6022L12.0815 6.70801" stroke="black" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Other</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/ex_other.png?v=1698748906" class="" alt="Other">
                        </label>
                    </div>
                </div>     
            </div>
            <div class="step quiz_step__4" data-step="4">
                <h3 class="step__heading">How motivated are you to<br> improve your overall well-being?</h3>
                <p class="step_subheading">Choose any one</p>
                <div class="stepData">
                    <div class="item">
                        <input type="radio" class="step_4_input step_input" name="motivated" value="Not motivated" id="step_4_not_motivated">
                        <label for="step_4_not_motivated">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="8.39" fill="#C7E813"/>
                                    <path d="M5.09033 9.29904L7.32767 11.6022L12.082 6.70801" stroke="#212121" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Not motivated</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/not_motivated.png?v=1698749420" class="" alt="Not motivated">
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" class="step_4_input step_input" name="motivated" value="Moderately motivated" id="step_4_moderately">
                        <label for="step_4_moderately">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="8.39" fill="#C7E813"/>
                                    <path d="M5.09033 9.29904L7.32767 11.6022L12.082 6.70801" stroke="#212121" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Moderately motivated</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/moderately.png?v=1698749420" class="" alt="Moderately motivated">
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" class="step_4_input step_input" name="motivated"  value="Very motivated" id="step_4_very_motivated">
                        <label for="step_4_very_motivated">
                            <span class="checkbox">
                                <svg class="unchecked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.26953" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                </svg>
                                <svg class="checked" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                    <rect x="0.5" y="1.45801" width="15.78" height="15.78" rx="7.89" stroke="#212121"/>
                                    <rect y="0.769531" width="16.78" height="16.78" rx="8.39" fill="#C7E813"/>
                                    <path d="M5.09033 9.29904L7.32767 11.6022L12.082 6.70801" stroke="#212121" stroke-width="2"/>
                                </svg>
                            </span>
                            <h4>Very motivated</h4>

                            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/very_motivated.png?v=1698749420" class="" alt="Very motivated">
                        </label>
                    </div>
                </div> 
            </div>
        </div> 
        <div class="stepButtonsGroup">
            <button class="btn btn--prev_step hidden" data-prev="1" data-active="2">PREVIOUS</button>
            <button class="btn btn--next_step" data-active="1" data-next="2">Next</button>
        </div>
    </div>
    <div class="quiz__klaviyoForm">
        <div class="flex">
            <div class="image__wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/klaviyoForm.jpg?v=1698815682" alt="Klaviyo-form" />
            </div>
            <div class="klaviyoForm">
                <form
                    id="email_signup"
                    class="klaviyo_styling klaviyo_gdpr_embed_myID email-capture__form"
                    action="//manage.kmail-lists.com/subscriptions/subscribe"
                    data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe"
                    method="GET" 
                    target="_blank" novalidate="novalidate">
                    <h3>Unlock Exclusive Offer</h3>
                    <p>Enter your email to receive your discount</p>
                    <input type="hidden" name="g" value="myID">                
                    <input class="form-control"  id="k_id_email" type="email" placeholder="Your Email" data-sb-validations="required,email" />
                    <button type="submit" class="btn klaviyo_submit_button">UNLOCK OFFER</button>
                
                    <div class="klaviyo_messages">
                        <div class="success_message" style="display:none;"></div>
                        <div class="error_message" style="display:none;"></div>
                    </div>
                </form>            
                <script type="text/javascript">
                    /*KlaviyoSubscribe.attachToForms('#email_signup', {
                        hide_form_on_success: true,
                        extra_properties: {
                            $source: 'ContactPage',
                            Brand: 'Klaviyo'
                        }
                    });*/
                </script>
                <ul class="footerLinks">
                    <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                    <span>|</span>
                    <li><a href="/pages/terms-and-conditions">Terms & Conditions</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="loading__screen">
        <div id="loading_bar"></div>
        <div class="loading_content">
            <img src="https://cdn.shopify.com/s/files/1/0133/3562/5792/files/image_29.png?v=1698828946" class="mx-auto" alt="Logo">
            <h2>Welcome to <br>
                VitaHuslte!</h2>
                <p>Unlocking your exclusive offer…</p>
        </div>
    </div>
</quiz-modal>

<style>
    .quiz__modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    .quiz__modal--overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .quiz-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #C8E812;
        padding: 50px;
        border-radius: 10px;
        max-width: 500px;
        width: 100%;
    }
    .quiz_started {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        width: 100%;
        height: 100%;
    }
    .quiz--init {
        text-align: center;
        
    }
    .quiz--init h3 {
        font-size: 65px;
        color: #212121;
    }
    .quiz--init p {
        font-size: 16px;
        font-family: 'Lato Bold', sans-serif;
        color: #212121;
        margin-top: 8px;
    }
    .quiz--init .btn--started {
        background-color: #212121;
        color: #fff;
        margin-top: 35px;
        font-size: 14px;
        font-family: 'Lato Bold', sans-serif;
    }
    .quiz-wrapper.hidden,
    .step,
    .quiz_started {
        display: none;
    }
    .quiz_started.active,
    .step.active {
        display: block;
    }
    .quiz__header {
        background: #232422;
        color: #fff;
        padding: 18px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button.btn--skip {
        background: transparent;
        border: 0;
        color: #fff;
        padding: 0;
        cursor: pointer;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-family: 'Lato Bold', sans-serif;
        line-height: 123.5%;
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }
    .stepofactive {
        color: #C7E813;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-family: 'Lato Bold', sans-serif;
        line-height: 123.5%;
        text-transform: uppercase;
    }
    .progressBar {
        background: #E4E4E4;
        height: 7px;
        width: 100%;
    }
    .progressBar span {
        background: #C8E812;
        height: 7px;
        display: block;
    }
    .quiz__steps {
        margin-top: 80px;
    }
    .stepData {
        max-width: 700px;
        margin: 24px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .quiz__steps .step__heading{
        font-family: 'Lato Bold', sans-serif;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        text-transform: none;
    }
    .quiz__steps .step_subheading{
        font-family: 'Lato Bold', sans-serif;
        text-align: center;
        font-size: 12px;
        color: #959595;
        margin-top: 8px;
        letter-spacing: 0.24px;
        text-transform: capitalize;
    }
    @media screen and (min-width: 768px) {

        .stepData .item {
            width: 50%;
            padding: 0 8px;
            margin: 8px 0;
        }
    }
    .stepData .item input {
        display: none;
    }
    .stepData .item label {
        display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid #E4E4E4;
        border-radius: 13px;
    }
    .item img {
        margin-left: auto;
        display: block;
    }
    .item label span {
        margin-left: 15px;
    }
    .item label h4 {
        font-size: 16px;
        font-family: 'Lato Bold', sans-serif;
        text-transform: capitalize;
        line-height: 20px;
        max-width: 127px;
    }
    .checkbox .checked {
        display: none;
    }
    .stepData .item input:checked + label span .unchecked {
        display: none;
    }
    .stepData .item input:checked + label span .checked {
        display: block;
    }
    .stepData .item input:checked + label{
        border: 1px solid #C7E813;
        background: #F6F9E8;
    }
    .stepData .item input:checked + label h4 {
        font-weight: 800;
    }
    .stepButtonsGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 32px;
    }
    .btn--next_step {
        border-radius: 26px;
        background: #C7E813;
        border: 2px solid #C7E813;
        font-family: 'Lato Bold', sans-serif;
    }
    .quiz_step__2 .stepData,
    .quiz_step__4 .stepData {
        max-width: 350px;
    }
    .quiz_step__2 .stepData .item,
    .quiz_step__4 .stepData .item {
        width: 100%;
        padding: 0;
    }
    button.btn.btn--prev_step {
        border: 2px solid #212121;
        border-radius: 26px;
        background: transparent;
        font-family: 'Lato Bold', sans-serif;
    }
    .quiz__klaviyoForm {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        display: none;
    }
    .quiz__klaviyoForm.active {
        display: block;
    }
    .quiz__klaviyoForm .flex {
        display: flex;
        height: 100%;
    }
    .quiz__klaviyoForm .image__wrapper {
        width: 50%;
    }
    .quiz__klaviyoForm img {
        display: block;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .klaviyoForm {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .klaviyoForm h3 {
        color: #212121;

        text-align: center;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.45px;
        text-transform: uppercase;
    }
    .klaviyoForm p {
        color: #3C3C3C;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.32px;
        text-transform: capitalize;
        text-align: center;
    }
    form#email_signup {
        max-width: 350px;
        margin-top: auto;
    }
    .klaviyoForm input#k_id_email {
        background: #F5F5F5;
        border: 0;
        width: 100%;
        padding: 16px 15px;
        margin-bottom: 18px;
        margin-top: 24px;
    }
    button.btn.klaviyo_submit_button {
        border-radius: 26px;
        background: #C7E813;
        width: 100%;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
    }
    ul.footerLinks {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 18px;
        margin-top: auto;
        margin-bottom: 30px;
    }
    ul.footerLinks span {
        color: #959595;
        font-size: 14px;
    } 
    ul.footerLinks li a {
        color: #959595;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        text-transform: capitalize;
        text-decoration: none;
    }
    .loading__screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #C7E813 url('https://cdn.shopify.com/s/files/1/0133/3562/5792/files/Frame_48095989.png?v=1698830086');
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
        display: none;
    }
    .loading__screen.active {
        display: block;
    }
    div#loading_bar {
        height: 7px;
        width: 0;
        background: #212121;
        display: block;
    }
    .loading_content {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .loading_content h2 {
        color: #212121;
        text-align: center;
        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.65px;
        text-transform: uppercase;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .loading_content p {
        color: #3C3C3C;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    @media screen and (max-width: 767px) {
        .quiz__steps {
            margin-top: 28px;
        }
        .stepData{
            padding: 0 26px;
        }
        .item {
            width: 100%;
            margin-bottom: 18px;
        }
        .quiz_step__2 .stepData, .quiz_step__4 .stepData {
            max-width: 100%;
        }
        .quiz__klaviyoForm .image__wrapper,
        .klaviyoForm {
            width: 100%;
        }
        .quiz__klaviyoForm .flex {
            flex-wrap: wrap;
            height: auto;
        }
        .quiz__klaviyoForm img {
            height: auto;
            object-fit: contain;
        }
        .klaviyoForm {
            margin-top: 30px;
        }
        ul.footerLinks {
            margin-top: 30px;
            margin-bottom: 0;
        }
    }
</style>
<script>
    window.totalStep = 4;
</script>
<script src="{{ 'quiz-modal.js' | asset_url }}" defer="defer"></script>
