<div style="background-color:{{ section.settings.bg_color }};overflow:hidden;">
  {% assign sentences = section.blocks | map: 'settings' | map: 'marquee_text' %}

  <div class="marquee-container" id="marquee-container">
    {% for i in (1..50) %}
      {% for sentence in sentences %}
        <span class="marquee-sentence" style="color:{{ section.settings.text_color }};">{{ sentence }}</span>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{%- schema -%}
{
  "name": "Text Marquee",
  "max_blocks": 12,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "marquee",
      "name": "Marquee Block",
      "settings": [
        {
          "id": "marquee_text",
          "type": "textarea",
          "label": "Marquee Text",
          "default": "Type your marquee text here."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Marquee"
    }
  ]
}
{%- endschema -%}
